@media only screen and (max-width: 1200px) {
  .container {
    width: 92.188vw;
  }
  body {
    .wrapper {
      &::before {
        width: 58.691vw;
        height: 54.785vw;
      }
      .header {
        padding: 4.004vw 3.906vw 0 3.906vw;
        .header__logo {
          width: 8.301vw;
        }
        .header-nav {
          transform: translateY(-0.684vw);
          gap: 3.711vw;
          strong {
            font-size: 1.465vw;
            line-height: 2.148vw;
            &:nth-child(1) {
              gap: 0.977vw;
            }
            svg {
              width: 1.465vw;
            }
          }
          .sing-in {
            width: 12.305vw;
            height: 4.395vw;
            border: 0.098vw #9000ff solid;
            font-size: 1.465vw;
            line-height: 2.148vw;
          }
        }
      }
      .main {
        padding: 7.52vw 0 0 0;
        .main__left-block {
          .main__title {
            font-size: 10.156vw;
            line-height: 8.594vw;
            width: auto;
          }
          .main__pictures {
            width: 35.742vw;
            height: 35.742vw;
            position: absolute;
            right: -1.66vw;
            top: 14.551vw;
            left: auto;
            &::after {
              width: 35.742vw;
              height: 35.742vw;
              box-shadow: inset 0vw 0vw 2.734vw 2.148vw rgba(19, 19, 21, 1);
            }
            div {
              width: 6.075vw;
              height: 6.075vw;
              border: 0.7.08vw solid rgba(255, 255, 255, 0.1);
            }
          }
        }
        .main__photo {
          transform: translateY(0);
          margin: 1.953vw 0 0 8.301vw;
          h2 {
            font-size: 4.395vw;
            line-height: 5.273vw;
            margin: 0 0 0 9.961vw;
            transform: translateY(-1.367vw);
            text-indent: 7.813vw;
          }
          .photo {
            width: 43.564vw;
            &.active {
              transform: translateX(5.859vw);
            }
          }
          p {
            font-size: 1.758vw;
            line-height: 2.734vw;
            width: 38.281vw;
            bottom: 3.418vw;
            left: auto;
            right: 5.859vw;
          }
        }
      }
      .about {
        padding: 7.813vw 0 10.449vw 0;
        .backgroung-title {
          font-size: 37.109vw;
          line-height: 43.848vw;
          transform: translateY(-1.953vw);
        }
        .about__text {
          font-size: 2.734vw;
          line-height: 3.906vw;
          left: auto;
          right: 0vw;
          top: 24.023vw;
          text-indent: 32.129vw;
          width: 71.094vw;
          span {
            font-size: 2.734vw;
            line-height: 3.906vw;
          }
        }
        .about__slider-block {
          .slider__numbers {
            width: 13.77vw;
            justify-content: flex-start;
            gap: 3.711vw;
            .slider__numbers-item {
              border-bottom: 0.098vw solid rgba(255, 255, 255, 0.1);
              padding-bottom: 3.32vw;
              &:nth-child(3) {
                border: none;
              }
              span {
                font-size: 8.398vw;
                line-height: 5.469vw;
              }
              strong {
                font-size: 1.758vw;
                line-height: 2.441vw;

                margin: 1.563vw 0 0 0;
              }
            }
          }
          .slider {
            width: 26.465vw;
            height: 37.891vw;
            &::before {
              width: 26.465vw;
              height: 37.891vw;
            }
            .slide {
              width: 26.465vw;
              height: 37.891vw;
            }
          }
          .slider__description {
            justify-content: flex-start;
            margin: 5.371vw 0 0 0;
            gap: 6.348vw;
            width: 44.141vw;
            gap: 0;
            .description-container {
              p {
                margin: 1.367vw 0 0 0;
                font-size: 1.953vw;
                line-height: 3.125vw;
              }
            }
            button {
              position: absolute;
              width: 26.465vw;
              height: 11.035vw;
              border: 0.098vw solid #9000ff;
              font-size: 1.758vw;
              line-height: 2.637vw;
              left: 17.676vw;
              bottom: 3.809vw;
              top: auto;
              img {
                position: absolute;
                right: 1.638vw;
                top: 1.638vw;
                width: 1.172vw;
                height: auto;
              }
              &:hover {
                transition: 0.3s;
                background: #9000ff;
              }
            }
          }
        }
      }
      .footer {
        height: 39.063vw;

        &::before {
          left: 3.906vw;
          height: 31.152vw;
          width: 2.051vw;
          border: 0.098vw solid #9000ff;
          border-right: none;
        }
        &::after {
          right: 3.906vw;
          top: 50%;
          height: 31.152vw;
          width: 2.051vw;
          border: 0.098vw solid #9000ff;
          border-left: none;
        }
        .footer__container {
          padding: 7.617vw 0vw 7.715vw 0;
          justify-content: space-between;
          .footer__left-block {
            padding: 0 0 0 4.004vw;
            justify-content: flex-start;
            width: auto;
            .footer__block-one {
              justify-content: flex-start;
              width: 26.367vw;
              img {
                width: 8.301vw;
              }
              button {
                margin: 4.199vw 0 0 0;
                padding: 0 0.977vw 0 0;
                width: 15.43vw;
                height: 3.906vw;
                border: 0.098vw solid rgba(255, 255, 255, 0.1);
                font-size: 1.27vw;
                background-position: 0.098vw center;
                background-size: 3.516vw 3.516vw;
              }
              span {
                margin: 8.496vw 0 0 0;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 300;
                font-size: 1.367vw;
                line-height: 2.344vw;
                color: #ffffff;
              }
            }
            .footer__block-two {
              .block__two-nav {
                margin: 0.195vw 0 0 0;
                gap: 1.66vw;
                span {
                  font-size: 1.465vw;
                  line-height: 2.148vw;
                }
              }
              .footer__link {
                margin: 7.91vw 0 0 0;
                gap: 3.711vw;
                a {
                  font-size: 1.465vw;
                  line-height: 1.563vw;
                  padding: 0 0 0.391vw 0;
                  border-bottom: 0.098vw solid rgba(255, 255, 255, 0.1);
                  &:hover {
                    border-bottom: 0.098vw solid #9000ff;
                  }
                }
              }
            }
          }
          .footer__right-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            width: auto;
            gap: 4.102vw;
            .footer__social {
              transform: translateY(-0.781vw);
              width: 19.336vw;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin: 0 0 auto 0;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.711vw;
                height: 3.711vw;
                border: 0.098vw solid rgba(255, 255, 255, 0.1);
                transition: 0.3s;
                img {
                  width: 1.953vw;
                  height: auto;
                }
                &:hover {
                  transition: 0.3s;
                  border: 0.098vw solid #9000ff;
                }
              }
            }
            .footer__form {
              width: 30.273vw;
              margin: 0 4.98vw 0 0;

              h3 {
                font-size: 2.539vw;
                line-height: 3.809vw;
              }
              span {
                font-size: 1.563vw;
                line-height: 2.344vw;
                color: #ffffff;
                margin: 0.684vw 0 0 0;
              }
              .input__container {
                padding: 0 0 0.977vw 0;
                margin: 1.953vw 0 0 0;
                border-bottom: 0.098vw solid #ffffff;
                input {
                  font-size: 1.563vw;
                  line-height: 2.344vw;
                  padding: 0;
                }
                button {
                  width: 3.516vw;
                  height: 3.516vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
