@media only screen and (max-width: 600px) {
  .container {
    width: 335px;
  }
  body .wrapper {
    background-image: url(../375px.jpg);
    background-size: 100%;
  }
  body .wrapper::before {
    width: 400px;
    height: 300px;
  }
  body .wrapper .header {
    padding: 25px 20px 0 20px;
  }
  body .wrapper .header .header__logo {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    width: 70px;
  }
  body .wrapper .header .header-nav {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    gap: 20px;
  }
  body .wrapper .header .header-nav strong {
    display: none;
    font-size: 15px;
    line-height: 22px;
  }
  body .wrapper .header .header-nav strong:nth-child(1) {
    display: none;
    gap: 10px;
  }
  body .wrapper .header .header-nav strong svg {
    width: 15px;
  }
  body .wrapper .header .header-nav .sing-in {
    width: 120px;
    height: 42px;
    font-size: 14px;
    line-height: 21px;
  }
  body .wrapper .header .header-nav .button-mobile {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 42px;
    height: 42px;
    border: 1px solid #ffffff;
    background: none;
  }
  body .wrapper .header .header-nav .button-mobile span {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  body .wrapper .header .header-nav .button-mobile span:nth-child(1) {
    top: 13px;
  }
  body .wrapper .header .header-nav .button-mobile span:nth-child(2) {
    top: 20px;
  }
  body .wrapper .header .header-nav .button-mobile span:nth-child(3) {
    top: 27px;
  }
  body .wrapper .header .header-nav .button-mobile.active {
    border: none;
    background: rgba(255, 255, 255, 0.05);
  }
  body .wrapper .main {
    padding: 141px 0 0 0;
  }
  body .wrapper .main .main__left-block .main__title {
    font-size: 58px;
    line-height: 50px;
    width: auto;
  }
  body .wrapper .main .main__left-block .main__pictures {
    width: 166px;
    height: 166px;
    position: absolute;
    right: 18px;
    top: 84px;
  }
  body .wrapper .main .main__left-block .main__pictures::after {
    width: 166px;
    height: 166px;
    -webkit-box-shadow: inset 0px 0px 28px 22px #131315;
            box-shadow: inset 0px 0px 28px 22px #131315;
  }
  body .wrapper .main .main__left-block .main__pictures div {
    width: 28.21px;
    height: 28.21px;
    border: 0.33px solid rgba(255, 255, 255, 0.1);
  }
  body .wrapper .main .main__photo {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 16px 0 0 0px;
  }
  body .wrapper .main .main__photo h2 {
    font-size: 29.3315px;
    line-height: 35px;
    margin: 0px;
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
    text-indent: 80px;
    margin: 0 0 0 38px;
  }
  body .wrapper .main .main__photo .photo {
    width: 291px;
  }
  body .wrapper .main .main__photo .photo.active {
    -webkit-transform: translateX(43px);
            transform: translateX(43px);
  }
  body .wrapper .main .main__photo p {
    font-size: 17px;
    line-height: 26px;
    width: 290px;
    bottom: -76px;
    left: auto;
    right: 0;
  }
  body .wrapper .about {
    padding: 0;
  }
  body .wrapper .about .backgroung-title {
    font-size: 64px;
    line-height: 77px;
    line-height: 392px;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    margin: 0 0 0 auto;
    width: 118px;
  }
  body .wrapper .about .about__text {
    font-size: 22px;
    line-height: 32px;
    left: 0;
    right: auto;
    top: 418px;
    text-indent: 0;
    width: 340px;
  }
  body .wrapper .about .about__text span {
    font-size: 22px;
    line-height: 32px;
  }
  body .wrapper .about .about__slider-block {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  body .wrapper .about .about__slider-block .slider__numbers {
    margin: 851px 0 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    gap: 0;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-bottom: none;
    padding-bottom: 8px;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item:nth-child(1) {
    width: 175px;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item:nth-child(2) {
    width: 163px;
    padding-left: 9px;
    padding-right: 9px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item:nth-child(3) {
    padding-left: 9px;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item span {
    font-size: 54px;
    line-height: 62px;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item strong {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
  body .wrapper .about .about__slider-block .slider {
    width: 203px;
    height: 290px;
  }
  body .wrapper .about .about__slider-block .slider::before {
    width: 203px;
    height: 290px;
  }
  body .wrapper .about .about__slider-block .slider .slide {
    width: 203px;
    height: 290px;
  }
  body .wrapper .about .about__slider-block .slider__description {
    position: absolute;
    right: auto;
    top: 617px;
    left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 48px 0 0 0;
    gap: 65px;
    width: 335px;
    gap: 0;
  }
  body .wrapper .about .about__slider-block .slider__description .description-container p {
    margin: 16px 0 0 0;
    font-size: 19px;
    line-height: 30px;
  }
  body .wrapper .about .about__slider-block .slider__description button {
    position: absolute;
    width: 100%;
    height: 100px;
    border: 1px solid #9000ff;
    font-size: 18px;
    line-height: 27px;
    left: 0px;
    bottom: -345px;
  }
  body .wrapper .about .about__slider-block .slider__description button img {
    position: absolute;
    right: 14.77px;
    top: 14.77px;
    width: 14px;
    height: auto;
  }
  body .wrapper .about .about__slider-block .slider__description button:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #9000ff;
  }
  body .wrapper .footer {
    height: 585px;
    background: none;
  }
  body .wrapper .footer::before {
    display: none;
    left: 40px;
    height: 319px;
    width: 21px;
    border: 1px solid #9000ff;
    border-right: none;
  }
  body .wrapper .footer::after {
    display: none;
    right: 40px;
    top: 50%;
    height: 319px;
    width: 21px;
    border: 1px solid #9000ff;
    border-left: none;
  }
  body .wrapper .footer .footer__container {
    padding: 50px 0px 79px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .footer .footer__container .footer__left-block {
    padding: 0;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one {
    width: auto;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one img {
    width: 70px;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one button {
    position: absolute;
    left: 157px;
    top: 125px;
    margin: 0;
    padding: 0 10px 0 0;
    width: 158px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 13px;
    background-position: 1px center;
    background-size: 36px 36px;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one span {
    position: absolute;
    bottom: 46px;
    left: 20px;
    margin: 0;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .block__two-nav {
    position: absolute;
    left: 20px;
    top: 130px;
    margin: 3px 0 0 0;
    gap: 17px;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .block__two-nav span {
    font-size: 15px;
    line-height: 22px;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .footer__link {
    position: absolute;
    bottom: 313px;
    right: 20px;
    margin: 0;
    gap: 37px;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .footer__link a {
    font-size: 15px;
    line-height: 16px;
    padding: 0 0 4px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .footer__link a:hover {
    border-bottom: 1px solid #9000ff;
  }
  body .wrapper .footer .footer__container .footer__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    width: auto;
    gap: 33px;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    width: 198px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 auto 0;
    position: absolute;
    top: 52px;
    left: 157px;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social a img {
    width: 20px;
    height: auto;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social a:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #9000ff;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form {
    position: absolute;
    left: 20px;
    bottom: 111px;
    width: 335px;
    margin: 0;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form h3 {
    font-size: 24px;
    line-height: 36px;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form span {
    font-size: 16px;
    line-height: 24px;
    margin: 7px 0 0 0;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form .input__container {
    padding: 0 0 10px 0;
    margin: 20px 0 0 0;
    border-bottom: 1px solid #ffffff;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form .input__container input {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form .input__container button {
    width: 36px;
    height: 36px;
  }
}
/*# sourceMappingURL=375.css.map */