@media only screen and (max-width: 600px) {
  .container {
    width: 89.333vw;
  }
  body .wrapper .menu__mobile {
    width: 100vw;
    height: 100vh;
  }
  body .wrapper .menu__mobile .menu {
    padding: 6.667vw 5.333vw 0 5.333vw;
    width: 59.2vw;
  }
  body .wrapper .menu__mobile .menu .menu-item {
    border-bottom: 0.267vw solid rgba(255, 255, 255, 0.05);
    height: 14.4vw;
  }
  body .wrapper .menu__mobile .menu .menu-item strong {
    font-size: 4vw;
    line-height: 5.867vw;
  }
  body .wrapper .menu__mobile .menu .menu-item:nth-child(1) {
    height: auto;
    padding-bottom: 6.667vw;
  }
  body .wrapper .menu__mobile .menu .menu-item:nth-child(1) .sing-in {
    width: 32vw;
    height: 11.2vw;
    border: 0.267vw solid #9000ff;
    font-size: 3.733vw;
    line-height: 5.6vw;
  }
  body .wrapper .menu__mobile .menu .menu-item:nth-child(1) .button-mobile {
    width: 11.2vw;
    height: 11.2vw;
  }
  body .wrapper .menu__mobile .menu .menu-item:nth-child(1) .button-mobile span {
    width: 5.333vw;
    height: 0.4vw;
  }
  body .wrapper .menu__mobile .menu .menu-item:nth-child(2) strong {
    gap: 2.667vw;
  }
  body .wrapper .menu__mobile .menu .menu-item:nth-child(2) strong svg {
    width: 4vw;
    height: auto;
  }
  body .wrapper::before {
    width: 86.667vw;
    height: 84vw;
    top: 40vw;
    z-index: 2;
  }
  body .wrapper .header {
    padding: 6.667vw 5.333vw 0 5.333vw;
  }
  body .wrapper .header .header__logo {
    -webkit-transform: translateY(0.533vw);
            transform: translateY(0.533vw);
    width: 18.667vw;
  }
  body .wrapper .header .header-nav {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
    gap: 5.333vw;
  }
  body .wrapper .header .header-nav strong {
    display: none;
    font-size: 4vw;
    line-height: 5.867vw;
  }
  body .wrapper .header .header-nav strong:nth-child(1) {
    display: none;
    gap: 2.667vw;
  }
  body .wrapper .header .header-nav strong svg {
    width: 4vw;
  }
  body .wrapper .header .header-nav .sing-in {
    width: 32vw;
    height: 11.2vw;
    font-size: 3.733vw;
    line-height: 5.6vw;
  }
  body .wrapper .header .header-nav .button-mobile {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 11.2vw;
    height: 11.2vw;
    border: 0.267vw solid #ffffff;
    background: none;
  }
  body .wrapper .header .header-nav .button-mobile span {
    position: absolute;
    width: 5.867vw;
    height: 0.533vw;
    background-color: #ffffff;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  body .wrapper .header .header-nav .button-mobile span:nth-child(1) {
    top: 3.467vw;
  }
  body .wrapper .header .header-nav .button-mobile span:nth-child(2) {
    top: 5.333vw;
  }
  body .wrapper .header .header-nav .button-mobile span:nth-child(3) {
    top: 7.2vw;
  }
  body .wrapper .header .header-nav .button-mobile.active {
    border: none;
    background: rgba(255, 255, 255, 0.05);
  }
  body .wrapper .main {
    padding: 37.6vw 0 0 0;
  }
  body .wrapper .main .main__left-block .main__title {
    font-size: 15.467vw;
    line-height: 13.333vw;
    width: auto;
  }
  body .wrapper .main .main__left-block .main__pictures {
    width: 44.267vw;
    height: 44.267vw;
    position: absolute;
    right: 4.8vw;
    top: 22.4vw;
  }
  body .wrapper .main .main__left-block .main__pictures::after {
    width: 44.267vw;
    height: 44.267vw;
    -webkit-box-shadow: inset 0vw 0vw 7.467vw 5.867vw #131315;
            box-shadow: inset 0vw 0vw 7.467vw 5.867vw #131315;
  }
  body .wrapper .main .main__left-block .main__pictures div {
    width: 7.523vw;
    height: 7.523vw;
    border: 0.088vw solid rgba(255, 255, 255, 0.1);
  }
  body .wrapper .main .main__photo {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 4.267vw 0 0 0vw;
  }
  body .wrapper .main .main__photo h2 {
    font-size: 7.822vw;
    line-height: 9.333vw;
    margin: 0vw;
    -webkit-transform: translateY(-2.4vw);
            transform: translateY(-2.4vw);
    text-indent: 21.333vw;
    margin: 0 0 0 10.133vw;
  }
  body .wrapper .main .main__photo .photo {
    width: 77.6vw;
  }
  body .wrapper .main .main__photo .photo.active {
    -webkit-transform: translateX(11.467vw);
            transform: translateX(11.467vw);
  }
  body .wrapper .main .main__photo p {
    font-size: 4.533vw;
    line-height: 6.933vw;
    width: 77.333vw;
    bottom: -20.267vw;
    left: auto;
    right: 0;
  }
  body .wrapper .about {
    padding: 0;
  }
  body .wrapper .about .backgroung-title {
    font-size: 17.067vw;
    line-height: 20.533vw;
    line-height: 104.533vw;
    -webkit-transform: translateY(-0.267vw);
            transform: translateY(-0.267vw);
    margin: 0 0 0 auto;
    width: 31.467vw;
  }
  body .wrapper .about .about__text {
    font-size: 5.867vw;
    line-height: 8.533vw;
    left: 0;
    right: auto;
    top: 111.467vw;
    text-indent: 0;
    width: 90.667vw;
  }
  body .wrapper .about .about__text span {
    font-size: 5.867vw;
    line-height: 8.533vw;
  }
  body .wrapper .about .about__slider-block {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transform: translateY(-58.667vw);
            transform: translateY(-58.667vw);
  }
  body .wrapper .about .about__slider-block .slider__numbers {
    margin: 226.933vw 0 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    gap: 0;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-bottom: none;
    padding-bottom: 2.133vw;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item:nth-child(1) {
    width: 46.667vw;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item:nth-child(2) {
    width: 43.467vw;
    padding-left: 2.4vw;
    padding-right: 2.4vw;
    border-left: 0.267vw solid rgba(255, 255, 255, 0.1);
    border-right: 0.267vw solid rgba(255, 255, 255, 0.1);
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item:nth-child(3) {
    padding-left: 2.4vw;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item span {
    font-size: 14.4vw;
    line-height: 16.533vw;
  }
  body .wrapper .about .about__slider-block .slider__numbers .slider__numbers-item strong {
    font-size: 4.8vw;
    line-height: 6.4vw;
    margin: 0;
  }
  body .wrapper .about .about__slider-block .slider {
    width: 54.133vw;
    height: 77.333vw;
  }
  body .wrapper .about .about__slider-block .slider::before {
    width: 54.133vw;
    height: 79.2vw;
    background-image: url(../img/about/rectangle-mobile.png);
  }
  body .wrapper .about .about__slider-block .slider .slide {
    width: 54.133vw;
    height: 77.333vw;
  }
  body .wrapper .about .about__slider-block .slider__description {
    position: absolute;
    right: auto;
    top: 164.533vw;
    left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 12.8vw 0 0 0;
    gap: 17.333vw;
    width: 89.333vw;
    gap: 0;
  }
  body .wrapper .about .about__slider-block .slider__description .description-container p {
    margin: 4.267vw 0 0 0;
    font-size: 5.067vw;
    line-height: 8vw;
  }
  body .wrapper .about .about__slider-block .slider__description button {
    position: absolute;
    width: 100%;
    height: 26.667vw;
    border: 0.267vw solid #9000ff;
    font-size: 4.8vw;
    line-height: 7.2vw;
    left: 0vw;
    bottom: -92vw;
  }
  body .wrapper .about .about__slider-block .slider__description button img {
    position: absolute;
    right: 3.939vw;
    top: 3.939vw;
    width: 3.733vw;
    height: auto;
  }
  body .wrapper .about .about__slider-block .slider__description button:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #9000ff;
  }
  body .wrapper .footer {
    height: 156vw;
    background: none;
  }
  body .wrapper .footer::before {
    display: none;
    left: 10.667vw;
    height: 85.067vw;
    width: 5.6vw;
    border: 0.267vw solid #9000ff;
    border-right: none;
  }
  body .wrapper .footer::after {
    display: none;
    right: 10.667vw;
    top: 50%;
    height: 85.067vw;
    width: 5.6vw;
    border: 0.267vw solid #9000ff;
    border-left: none;
  }
  body .wrapper .footer .footer__container {
    padding: 13.333vw 0vw 21.067vw 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .footer .footer__container .footer__left-block {
    padding: 0;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one {
    width: auto;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one img {
    width: 18.667vw;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one button {
    position: absolute;
    left: 41.867vw;
    top: 33.333vw;
    margin: 0;
    padding: 0 2.667vw 0 0;
    width: 42.133vw;
    height: 10.667vw;
    border: 0.267vw solid rgba(255, 255, 255, 0.1);
    font-size: 3.467vw;
    background-position: 0.267vw center;
    background-size: 9.6vw 9.6vw;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-one span {
    position: absolute;
    bottom: 12.267vw;
    left: 5.333vw;
    margin: 0;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 3.733vw;
    line-height: 6.4vw;
    color: #ffffff;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .block__two-nav {
    position: absolute;
    left: 5.333vw;
    top: 34.667vw;
    margin: 0.8vw 0 0 0;
    gap: 4.533vw;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .block__two-nav span {
    font-size: 4vw;
    line-height: 5.867vw;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .footer__link {
    position: absolute;
    bottom: 83.467vw;
    right: 5.333vw;
    margin: 0;
    gap: 9.867vw;
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .footer__link a {
    font-size: 4vw;
    line-height: 4.267vw;
    padding: 0 0 1.067vw 0;
    border-bottom: 0.267vw solid rgba(255, 255, 255, 0.1);
  }
  body .wrapper .footer .footer__container .footer__left-block .footer__block-two .footer__link a:hover {
    border-bottom: 0.267vw solid #9000ff;
  }
  body .wrapper .footer .footer__container .footer__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    width: auto;
    gap: 8.8vw;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
    width: 52.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 auto 0;
    position: absolute;
    top: 13.867vw;
    left: 41.867vw;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10.133vw;
    height: 10.133vw;
    border: 0.267vw solid rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social a img {
    width: 5.333vw;
    height: auto;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__social a:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 0.267vw solid #9000ff;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form {
    position: absolute;
    left: 5.333vw;
    bottom: 29.6vw;
    width: 89.333vw;
    margin: 0;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form h3 {
    font-size: 6.4vw;
    line-height: 9.6vw;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form span {
    font-size: 4.267vw;
    line-height: 6.4vw;
    margin: 1.867vw 0 0 0;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form .input__container {
    padding: 0 0 2.667vw 0;
    margin: 5.333vw 0 0 0;
    border-bottom: 0.267vw solid #ffffff;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form .input__container input {
    font-size: 4.267vw;
    line-height: 6.4vw;
    padding: 0;
  }
  body .wrapper .footer .footer__container .footer__right-block .footer__form .input__container button {
    width: 9.6vw;
    height: 9.6vw;
  }
}
/*# sourceMappingURL=375.css.map */