@media only screen and (max-width: 860px) {
  .container {
    width: 89.453vw;
  }
  body {
    .wrapper {
      .menu__mobile {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-image: url(../img/header/menu-background.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: 1s;
        opacity: 0;
        z-index: -1;
        .menu {
          padding: 4.557vw 5.208vw 0 5.208vw;
          width: 35.417vw;
          height: 100%;
          background: #131315;
          margin: 0 0 0 auto;
          transition: 1s;
          transform: translateX(100%);
          .menu-item {
            border-bottom: 0.13vw solid rgba(255, 255, 255, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 7.813vw;
            strong {
              font-family: "Oswald";
              font-style: normal;
              font-weight: 400;
              font-size: 1.953vw;
              line-height: 2.865vw;
              text-align: center;
              letter-spacing: 0.15em;
              text-transform: uppercase;
              color: #ffffff;
              &:hover {
                &:nth-child(1) {
                  svg {
                    rect {
                      transition: 0.3s 0.05s;
                      fill: #9000ff;
                    }
                  }
                }
                transition: 0.3s;
                color: #9000ff;
              }
            }
            &:nth-child(1) {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-start;
              height: 11.068vw;
              .sing-in {
                width: 16.406vw;
                height: 5.859vw;
                border: 0.13vw solid #9000ff;
                background: none;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 400;
                font-size: 1.823vw;
                line-height: 2.734vw;
                text-align: center;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #ffffff;
                transition: 0.3s;
                &:hover {
                  transition: 0.3s;
                  background: #9000ff;
                }
              }
              .button-mobile {
                position: relative;
                display: block;
                width: 5.859vw;
                height: 5.859vw;
                background: rgba(255, 255, 255, 0.05);
                border: none;
                span {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  display: block;
                  width: 2.604vw;
                  height: 0.195vw;
                  background: #ffffff;
                  &:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                  }
                  &:nth-child(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                  }
                }
              }
            }
            &:nth-child(2) {
              strong {
                display: flex;
                gap: 1.302vw;
                align-items: center;
                svg{
                  width: 1.953vw;
                  height: auto;
                }
              }
            }
          }
        }
        &.active{
          transition: 1s;
          opacity: 1;
          .menu{
            transition: 1s;
            transform: translateX(0);
          }
        }
      }
      &::before {
        width: 85.255vw;
        height: 95.047vw;
        left: -15.719vw;
      }
      .header {
        padding: 5.469vw 5.208vw 0 5.208vw;
        .header__logo {
          width: 11.068vw;
        }
        .header-nav {
          transform: translateY(-0.911vw);
          gap: 2.604vw;
          strong {
            display: none;
            font-size: 1.953vw;
            line-height: 2.865vw;
            &:nth-child(1) {
              display: none;
              gap: 1.302vw;
            }
            svg {
              width: 1.953vw;
              rect {
                transition: 0.3s;
              }
            }
          }
          .sing-in {
            width: 16.406vw;
            height: 5.859vw;
            border: 0.13vw #9000ff solid;
            font-size: 1.953vw;
            line-height: 2.865vw;
          }
          .button-mobile {
            position: relative;
            box-sizing: border-box;
            display: block;
            width: 5.859vw;
            height: 5.859vw;
            border: 0.13vw solid #ffffff;
            background: none;
            span {
              position: absolute;
              width: 3.255vw;
              height: 0.26vw;
              background-color: #ffffff;
              left: 0;
              right: 0;
              margin: 0 auto;
              &:nth-child(1) {
                top: 1.693vw;
              }
              &:nth-child(2) {
                top: 2.604vw;
              }
              &:nth-child(3) {
                top: 3.516vw;
              }
            }
            &.active {
              border: none;
              background: rgba(255, 255, 255, 0.05);
            }
          }
        }
      }
      .main {
        padding: 21.615vw 0 0 0;
        .main__left-block {
          .main__title {
            font-size: 13.542vw;
            line-height: 11.458vw;
            width: auto;
          }
          .main__pictures {
            width: 30.859vw;
            height: 30.859vw;
            position: absolute;
            right: 4.557vw;
            top: 13.672vw;

            &::after {
              width: 30.859vw;
              height: 30.859vw;
              box-shadow: inset 0vw 0vw 3.646vw 2.865vw rgba(19, 19, 21, 1);
            }
            div {
              width: 5.245vw;
              height: 5.245vw;
              border: 0.9.44vw solid rgba(255, 255, 255, 0.1);
            }
          }
        }
        .main__photo {
          transform: translateY(0);
          margin: 2.604vw 0 0 10.417vw;
          h2 {
            font-size: 5.859vw;
            line-height: 7.031vw;
            margin: 0 0 0 13.281vw;
            transform: translateY(-1.823vw);
            text-indent: 10.417vw;
          }
          .photo {
            width: 58.086vw;
            &.active {
              transform: translateX(7.813vw);
            }
          }
          p {
            font-size: 2.344vw;
            line-height: 3.646vw;
            width: 42.188vw;
            bottom: 3.906vw;
            left: auto;
            right: 0;
          }
        }
      }
      .about {
        padding: 7.292vw 0 13.932vw 0;
        .backgroung-title {
          width: 81.25vw;
          font-size: 42.448vw;
          line-height: 51.042vw;
          transform: translateY(0vw);
        }
        .about__text {
          font-size: 3.125vw;
          line-height: 4.688vw;
          left: auto;
          right: -0.651vw;
          top: 37.109vw;
          text-indent: 36.068vw;
          width: 82.031vw;
          span {
            font-size: 3.125vw;
            line-height: 4.688vw;
          }
        }
        .about__slider-block {
          margin: 12.24vw 0 0 0;
          flex-direction: column-reverse;
          .slider__numbers {
            margin: 4.818vw 0 0 0;
            width: 26.432vw;
            justify-content: flex-start;
            gap: 4.036vw;
            .slider__numbers-item {
              border-bottom: 0.13vw solid rgba(255, 255, 255, 0.1);
              padding-bottom: 2.995vw;
              &:nth-child(3) {
                border: none;
              }
              span {
                font-size: 8.333vw;
                line-height: 5.208vw;
              }
              strong {
                font-size: 2.344vw;
                line-height: 3.385vw;

                margin: 1.693vw 0 0 0;
              }
            }
          }
          .slider {
            width: 26.432vw;
            height: 37.76vw;
            &::before {
              width: 26.432vw;
              height: 37.76vw;
            }
            .slide {
              width: 26.432vw;
              height: 37.76vw;
            }
          }
          .slider__description {
            position: absolute;
            right: 0;
            top: 0;
            justify-content: flex-start;
            margin: 6.25vw 0 0 0;
            gap: 8.464vw;
            width: 57.943vw;
            gap: 0;
            .description-container {
              p {
                margin: 1.823vw 0 0 0;
                font-size: 2.604vw;
                line-height: 4.167vw;
              }
            }
            button {
              position: absolute;
              width: 32.422vw;
              height: 14.714vw;
              border: 0.13vw solid #9000ff;
              font-size: 2.344vw;
              line-height: 3.516vw;
              left: 0vw;
              bottom: -20.313vw;
              img {
                position: absolute;
                right: 2.184vw;
                top: 2.184vw;
                width: 1.563vw;
                height: auto;
              }
              &:hover {
                transition: 0.3s;
                background: #9000ff;
              }
            }
          }
        }
      }
      .footer {
        height: 53.385vw;
        &::before {
          display: none;
          left: 5.208vw;
          height: 41.536vw;
          width: 2.734vw;
          border: 0.13vw solid #9000ff;
          border-right: none;
        }
        &::after {
          display: none;
          right: 5.208vw;
          top: 50%;
          height: 41.536vw;
          width: 2.734vw;
          border: 0.13vw solid #9000ff;
          border-left: none;
        }
        .footer__container {
          padding: 10.156vw 0vw 10.286vw 0;
          align-items: flex-start;
          .footer__left-block {
            padding: 0;
            .footer__block-one {
              width: 31.641vw;
              img {
                width: 11.068vw;
              }
              button {
                margin: 5.599vw 0 0 0;
                padding: 0 1.302vw 0 0;
                width: 20.573vw;
                height: 5.208vw;
                border: 0.13vw solid rgba(255, 255, 255, 0.1);
                font-size: 1.693vw;
                background-position: 0.13vw center;
                background-size: 4.688vw 4.688vw;
              }
              span {
                margin: 18.62vw 0 0 0;
                font-family: "Oswald";
                font-style: normal;
                font-weight: 300;
                font-size: 1.823vw;
                line-height: 3.125vw;
                color: #ffffff;
              }
            }
            .footer__block-two {
              .block__two-nav {
                // width: 26.042vw;
                margin: 0.391vw 0 0 0;
                gap: 2.214vw;
                span {
                  font-size: 1.953vw;
                  line-height: 2.865vw;
                }
              }
              .footer__link {
                position: absolute;
                bottom: 4.297vw;
                right: 5.339vw;
                margin: 0;
                gap: 5.208vw;
                a {
                  font-size: 1.953vw;
                  line-height: 2.083vw;
                  padding: 0 0 0.521vw 0;
                  border-bottom: 0.13vw solid rgba(255, 255, 255, 0.1);
                  &:hover {
                    border-bottom: 0.13vw solid #9000ff;
                  }
                }
              }
            }
          }
          .footer__right-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            width: auto;
            gap: 4.297vw;
            .footer__social {
              transform: translateY(-1.042vw);
              width: 25.781vw;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin: 0 0 auto 0;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4.948vw;
                height: 4.948vw;
                border: 0.13vw solid rgba(255, 255, 255, 0.1);
                transition: 0.3s;
                img {
                  width: 2.604vw;
                  height: auto;
                }
                &:hover {
                  transition: 0.3s;
                  border: 0.13vw solid #9000ff;
                }
              }
            }
            .footer__form {
              width: 35.286vw;
              margin: 0;
              h3 {
                font-size: 3.385vw;
                line-height: 5.078vw;
              }
              span {
                font-size: 2.083vw;
                line-height: 3.125vw;
                color: #ffffff;
                margin: 0.911vw 0 0 0;
              }
              .input__container {
                padding: 0 0 1.302vw 0;
                margin: 2.604vw 0 0 0;
                border-bottom: 0.13vw solid #ffffff;
                input {
                  font-size: 2.083vw;
                  line-height: 3.125vw;
                  padding: 0;
                }
                button {
                  width: 4.688vw;
                  height: 4.688vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
